@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    outline: none;
    transition: 0.3s;
}
:root,:root.dark{
    --primary-bg:#22252d;
    --color-fg:#f8f8f8;
    --secondary-bg:#292d36;
    --button-bg:#272b33;
}
:root.light{
    --primary-bg:#fff;
    --color-fg:#292d36;
    --secondary-bg:#f9f9f9;
    --button-bg:#f7f7f7;
}
body{
    background: rgb(195,34,105);
    background: linear-gradient(58deg, rgba(195,34,105,0.8492647058823529) 0%, rgba(229,170,215,0.7008053221288515) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}
.container{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    align-items: center;
    background-color: var(--primary-bg);
    width: 300px;
    border-radius: 20px;
    padding-top: 20px;
    box-shadow: 0 0 10px 0 var(--secondary-bg);
}
.dark_mode{
    margin: 4px auto;
    background: var(--button-bg);
    padding: 4px 6px;
    border-radius: 8px;
}
.dark_mode .dark, .dark_mode .light{
    font-size: 1rem;
    color: var(--color-fg);
    margin: 2px 8px;
    cursor: pointer;
}
.resultbox{
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 40px;
}
.resultbox input{
    text-align: right;
    width: 80%;
    padding: 3px 10px;
    background: var(--primary-bg);
    border: 0;
    color: var(--color-fg);
    cursor: default;
}
.resultbox input[name="expression"] {
letter-spacing: 0.2rem;
}
.resultbox input[name="result"] {
    font-size: 1.8em;
    font-weight: bold;
    padding: 4px 10px;
  letter-spacing: 0.1em;

}
.buttons{
    width: calc(100% - 20px);
    padding: 20px 10px;
    padding-bottom: 30px;
    border-radius: 20px;
}
.buttons div{
    display: flex;
    justify-content: space-around;
    margin: 8px auto;
}
.buttons div input{
    background: var(--button-bg);
    color: var(--color-fg);
    border: 0;
    padding: 20px 0;
    text-align: center;
    width: 60px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}
.fnkeys{
    color: #26fdd6 !important;
}
.operator{
    color: #f47a7a !important;
}
.equal{
    width: 130px !important;;
}